{% extends 'home/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="gtco-services gtco-section">
    <div class="gtco-container">
        <div class="row row-pb-sm">
            <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
                <h2>Make your life simpler.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                <p><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-special popup-vimeo">Watch The Video</a></p>
            </div>
        </div>
        <div class="row row-pb-md">
            <div class="col-md-4 col-sm-4 service-wrap">
                <p>some text</p>
            </div>
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service animate-change">
                    <h3><i class="ti-ruler-pencil"></i> Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quidem quae, assumenda dolores ad pariatur! Deleniti debitis, voluptatem! Omnis enim magnam perspiciatis, natus. Ipsum distinctio, voluptatibus vero laboriosam sequi!
                        Officia fuga quam eveniet quo similique!</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 service-wrap">
                <div class="service">
                    <h3><i class="ti-settings"></i> Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta aperiam, maiores officia alias accusantium fugiat, doloremque voluptas, voluptatem dolore vel animi praesentium saepe unde consequuntur, eum asperiores odit aliquam error
                        nulla impedit repellendus. Nesciunt, delectus.</p>
                </div>
            </div>

            <div class="clearfix visible-md-block visible-sm-block"></div>

        </div>
    </div>
</div>

{% endblock %}